  input {
      border-radius: 10px;
  }

  .number-input {
      width: 5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      height: 1.5em;
  }

  .std-label {
    font-family: "Lucida Console", Courier, monospace;;
    flex-basis: 10em;
    padding: 0.5em;
    font-size: small;
  }
  button {
      min-width: 10em;
      border-radius: 5px;
      background-color: cadetblue;
    font-family: "Lucida Console", Courier, monospace;
    margin: 0.3em;
  }
  .flex-row {
      display: flex;
      flex-direction: row;
      padding: 0.1em;
      padding-left: 1em;
      padding-right: 1em;
  }

  .flex-col {
      display: flex;
      flex-direction: column;
      padding: 0.1em;
      justify-content: space-evenly;
  }

  .HUD {
      border-radius: 10px;
      background-color: tomato;
      color: white;
      border: 2px solid black;
      padding: 1em;
      position: absolute;
      top: 1em;
      opacity: 0.6;
  }